__pycache__/
*.pyc
*.pyo
dist/
build/descentbuddy/
build/appimagetool-x86_64.AppImage
DescentBuddy.AppDir/
DescentBuddy-x86_64.AppImage
DescentBuddy-Windows.zip
*.zip
.vscode/
dxma-files.zip
dxma_missions_complete_with_direct_links.csv
core/api_keys.py
build/537277598-1cbd4db9-2ad9-4063-b5c1-c6618bc09c1b.webp
